/* global */
body {
	font-family: Junction, sans-serif;
	letter-spacing: -1px;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #ecf0f1;
}

#presentation {
	position: absolute;
	top: 0;
	min-width: 800px;
	min-height: 600px;
	height: 100%;
	width: 100%;
	margin: 0;
}

.vertical-center {
	position: absolute;
	top: 50%;
	bottom: 50%;
	margin-top: -18em;
}

/* all slides */
.slide {
	background-color: #ecf0f1;
/*	background-attachment: fixed;*/
	min-width: 800px;
	width: 100%;
	min-height: 100%;
	position: relative;
	padding: 1px 30px;
	padding-top: 8em;
}

h1 {
	font-family: "League Gothic", sans-serif;
	text-transform: Uppercase;
	font-size: 10em;
	letter-spacing: 3px;
	line-height: 1em;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	font-size: 2em;
	line-height: 0.3em;
	font-weight: 700;
}

a {
    text-decoration: none;
}

#slide1 {
	padding-top: 1px;
}

/* slide 1 */
#slide1 .erpnext-div {
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: rgba(192, 57, 43, 0.7);
	border: 1.5em solid rgba(255, 255, 255, 0.6);
	margin-top: -1.5em;
	margin-bottom: 1.5em;
	height: 100%;
	-webkit-transform: skewX(-15deg);
	   -moz-transform: skewX(-15deg);
	     -o-transform: skewX(-15deg);
	        transform: skewX(-15deg);
}

#slide1 .erpnext-text {
	padding: 0 0.5em;
	margin-top: 1.5em;
	-webkit-transform: skewX(15deg);
	   -moz-transform: skewX(15deg);
	     -o-transform: skewX(15deg);
	        transform: skewX(15deg);
}

#slide1 .open-day-div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 40em;
	background-color: rgba(41, 128, 185, 0.7);
	border: 1.5em solid rgba(255, 255, 255, 0.6);
	margin-top: -1.5em;
	margin-bottom: 1.5em;
	height: 100%;
	-webkit-transform: skewX(15deg);
	   -moz-transform: skewX(15deg);
	     -o-transform: skewX(15deg);
	        transform: skewX(15deg);
}

#slide1 .open-day-text {
	padding: 3em;
	margin-top: 20em;
	-webkit-transform: skewX(-15deg);
	   -moz-transform: skewX(-15deg);
	     -o-transform: skewX(-15deg);
	        transform: skewX(-15deg);
}

#slide1 h1 {
	color: #2c3e50;
}

#slide2, #slide6, #slide9 {
	background-color: #2c3e50;
}

#slide2 h1, #slide6 h1, #slide9 h1 {
	color: #bdc3c7;
	text-shadow: 0px 1px 1px #3D5164
}

#slide2 h2, #slide6 h2, #slide9 h2 {
	color: #bdc3c7;
}

#slide3, #slide7, #slide10 {
	background-color: #772F2F;
}

#slide3 h1, #slide3 h2, #slide7 h1, #slide7 h2, #slide10 h1, #slide10 h2 {
	color: rgba(236, 240, 241, 0.9);
}

#slide3 h2 {
	margin-left: 19.8em;
	margin-top: 0;
	-webkit-transform: rotate(-15deg);
	   -moz-transform: rotate(-15deg);
	     -o-transform: rotate(-15deg);
	        transform: rotate(-15deg);
}

#slide4 h1, #slide8 h1 {
	margin-bottom: -0.1em;
	color: #2c3e50;
}

#slide4 h2, #slide8 h2 {
	color: #772F2F;
}

#slide21 {
	background-color: white;
	background-image: url('../images/erpnext_desktop.png');
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

/*
#slide5 h2 {
	margin-top: 1em;
	color: #2c3e50;
}*/

#slide6 h2 {
	margin-bottom: 0.1em;
}

#slide7 h2 {
	margin-top: -0.1em;
	padding-left: 0.5em;
}

#slide8 div {
	margin-top: 3em;
	margin-left: 0.1em;
}

#slide8 h2 {
	line-height: 1em;
}